*.gem
*.rbc
*.sublime-workspace
spec/yourub/integration_spec.rb
.bundle
.config/*
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage/*
doc/*
lib/bundler/man
lib/yourub/DEVELOPER_KEY
lib/yourub/cli.rb
pkg
rdoc
